.addpg{
    margin-top: 25px;
}
.adduser{
    position: relative;
    display: inline-block;
    
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
}
.adduser:hover{
    color: #255784;
    background : #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 20px #2196f3, 0 0 40px #2196f3;
    transition-delay: 0.2   s;
}
.adduser>span{
    position: absolute;
    display: block;
}
.adduser>span:nth-child(1){
    top: 0;
    left: -100px;
    width: 100px;
    height: 2px;
    background: linear-gradient(90deg,transparent,#2196f3);
}
.adduser:hover>span:nth-child(1){
    left: 100%;
    transition: 1s;

}
.adduser>span:nth-child(3){
    bottom: 0;
    right: -100px;
    width: 100px;
    height: 2px;
    background: linear-gradient(270deg,transparent,#2196f3);
}
.adduser:hover>span:nth-child(3){
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
.adduser>span:nth-child(2){
    top: -100px;
    right: 0;
    width: 2px;
    height: 100px;
    background: linear-gradient(180deg,transparent,#2196f3);
}
.adduser:hover>span:nth-child(2){
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
.adduser>span:nth-child(4){
    bottom: -100px;
    left: 0;
    width: 2px;
    height: 100px;
    background: linear-gradient(360deg,transparent,#2196f3);
}
.adduser:hover>span:nth-child(4){
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}